body { width: 85%;
       margin-left: auto;
       margin-right: auto;
       background: #fff7e6;
       color: #4d3400;
     }

a { text-decoration: none; }
a h1 { background: #cc8b00; color: #ffe7b3; }
a h1:hover { background: #ffe7b3; color: #cc8b00; }
h1 { text-align: center; }

#nav ul li {
    display: inline-block;
    height: 62px;
}
#nav ul li a {
    padding: 10px;
    background: #cc8b00;
    color: #ffe7b3;
}
#nav ul li a:hover{
    font-weight: bold;
    background-color: #ffe7b3;
    color: #cc8b00;
}

div.body {
    font-family: "times";
    font-size: 1.2em;
}

img.pics {
    margin: 0 0 5px 10px;
    float: right;
}